<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <STCpay>
                <active>1</active>
                <title>STCpay</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>Moyasar\STCpay\Model\STCpay</model>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <publishable_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </STCpay>
            <!-- payment-config -->
        </payment>
    </default>
</config>
